@font-face {
    font-family: 'Nunito';
    src: url("assets/fonts/Nunito.ttf");
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
    min-height: 50px;
}
.header {
    background-color: #f2edfa;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    list-style: none;
    text-transform: uppercase;
}
.nav-link {
    position: relative;
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: rgb(145, 133, 201);
}
.nav-list a:hover{
    color: rgba(64, 15, 197, 0.911);
}
.cvphoto{
    float: left;
    width: 300px;
    position: relative;
    margin-top: -4%;
    margin-left: 1%;
    height: auto;
    max-width: 100%;
}
.main {
    margin-bottom: auto;
  }
  .section{
    color:rgb(145, 133, 201);
   
}
.section-title{
    font-size: 70px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}
.section-subtitle{
    font-size: 40px;
    text-align: center;
    font-weight: 400;
}
.section-contacts{
    position: relative;
    margin-top: 6%;
    text-align: left;
    right: -9%;
    text-transform: uppercase;
    font-size: 20px;
    }
.contacts-list, .skills-list, .languages-list{
    width: 350px;
    border: 2px dotted;
    border-radius: 12px;
    line-height: 35px;
    font-size: 20px;
    }
.section-skills, .section-languages {
    position: relative;
    text-align: left;
    right: -9%;
    text-transform: uppercase;
    font-size: 20px;
}
.section-information, .section-experience, .section-educations, .section-code{
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
 }
.section-information {
        margin-top: -590px;
    margin-left: 45%;
    }
.section-experience{
       margin-top: -360px;
    margin-left: 46%;
    }
.section-educations{
    
    margin-top: -260px;
    margin-left: 44%;
      }
.section-code{
    margin-top: -170px;
    margin-left: 47%;
  
}
.text, .text1, .text2, .text3{
    position: absolute;
    width: 800px;
    margin-left: 30%;
    font-size: 20px;
    text-align: justify;
    line-height: 35px;     
 }

.text  {
       margin-top: -550px;
}
.text1{
        margin-top: -310px;
}
.text2{
       margin-top: -210px;
  }
.text3{
      margin-top: -110px;
 }
 body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo-rsschool {
    float: right;
    width: 70px;
    position: relative;
    height: 50px;
    max-width: 100%;
    margin-right: 20px;
}
.footer{
    float: left;
    color: rgb(145, 133, 201);
    margin-left: 20px;
    justify-content: flex-end;
    background-color: #f2edfa;
    text-transform: uppercase;
}
.footer-link{
    text-decoration: none;
    font-size: 15px;
    color: rgb(145, 133, 201);
    }
.footer a:hover {
    color: rgba(64, 15, 197, 0.911);
}
.header, .main, .footer{
    font-family: 'Nunito';
}
